services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    volumes:
      - .:/app
    environment:
      - RAILS_ENV=development
      - RAILS_LOG_LEVEL=debug
      - BUNDLE_PATH=/usr/local/bundle
    stdin_open: true
    tty: true
    command: >
      bash -c "
        bundle check || bundle install &&
        rm -f tmp/pids/server.pid &&
        ./bin/rails server -b 0.0.0.0"

  playwright:
    build:
      context: .
      dockerfile: Dockerfile.playwright
    ports:
      - 8888:8888
